
backend/node_modules  

frontend/build

npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*


**/.env
**/.env.local
**/.env.*.local


.DS_Store
Thumbs.db
desktop.ini


.vscode/
!.vscode/extensions.json # Não ignora as extensões recomendadas
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/coverage
.nyc_output


*.swp